.containers {
    margin: 2rem 0;
}
.thumbnail {
    height: 8rem !important;
}
.cols {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f3f4;
}
.name-cont {
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    height: fit-content;
}
.name,
.id {
    margin: 0;
    padding: 0;
}

.btn{
    border:2px solid red;
    width:100%;
    margin-bottom: 4rem;
}
.load-more{
    border:none;
    height:3rem;
    width:10rem;
    border-radius: 10px;
}