.pokemon-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: beige;
    width: 100%;
}

.cont {
    display: flex;
}
.image-cont {
    display: inline-block;
    padding: 7rem 5rem;
}
.nameandid {
    display: flex;
    align-items: flex-end;
}
.name {
    margin-right: 3rem;
    font-weight: 600;
    font-size: 3.5rem;
}
.id {
    font-weight: 300;
    font-size: 3rem;
}
.poke-details-container {
    padding: 4rem;
    width: 60%;
}

.height,
.weight,
.types,
.ability {
    height: 50%;
    display: flex;
    flex-direction: column;
}
.rows h5 {
    margin: 0;
    font-weight: 400;
    color: #708090;
    margin-bottom: 0.5rem;
}
.rows {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 3rem 0;
}
.rows h5 {
    color: #576d7a;
    font-weight: 300;
    margin: 0;
}
.height-weight,
.type-ability {
    width: 50%;
    height: 100%;
}
.progress {
    margin: 2rem;
}
.wrapper {
    width: 70%;
}

.progress-bar-wrapper {
    display: flex;
    padding: 2rem 0rem 2rem 6rem;
}
.stats-name {
    padding: 0.8rem 0;
    width: 25%;
}
.stats-name h4 {
    margin: 0;
    padding: 0.6rem 0;
}
.values {
    display: flex;
}
.names {
    width: 85%;
    color: #708090;
    font-weight: 400;
}
.val {
    font-weight: 500;
}

.lists,
.poke-buttons-wrapper {
    float: left;
    margin-right: 0.5rem !important;
}

.tabs {
    display: none;
}
.description-cont {
    display: none;
}
.breeding-container {
    display: none;
}
@media only screen and (max-width: 900px) {
    .pokemon-container {
        background-color: transparent;
    }
    .cont {
        flex-direction: column;
    }
    .progress-bar-wrapper {
        display: none;
    }
    .rows {
        display: none;
    }
    .tabs {
        display: block;
        border-radius: 3rem;
        background-color: white;
        margin-top: -3rem;
        height: 100%;
    }
    .tab-box {
        margin: 3rem 0;
        order: 2;
    }
    .image-cont {
        height: 30vh;
        width: 100%;
        padding: 0;
        background-color: beige;
        margin: auto;
        display: inline-block;
    }
    .pokemon-img {
        display: none;
    }
    .stats-name {
        width: 45%;
        float: left;
        padding: 1.5rem 0;
    }
    .wrapper {
        width: 55%;
        float: left;
    }
    .nameandid .name {
        display: none;
    }
    .name {
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
        margin-top: 3.5rem;
    }

    .types h5 {
        display: none;
    }

    .types {
        position: absolute;
        top: 41%;
        height: auto;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center !important;
        align-items: center;
    }
    .type {
        border-radius: 50px !important;
        padding: 0.4rem 2.5rem !important;
    }
    .id {
        display: none;
    }
    .description-cont {
        display: block;
    }
    .description {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5rem;
    }
    .description h5 {
        width: 60%;
    }
    .types,
    .ability,
    .height,
    .weight,
    .capture_rate,
    .egg_group,
    .gender {
        display: flex;
    }
    .types h5,
    .ability h5,
    .height h5,
    .weight h5,
    .capture_rate h5,
    .egg_group h5,
    .gender h5 {
        width: 30%;
        margin-top: 0.3rem;
        color: #576d7a;
    }
    .value {
        margin-top: 0.4rem;
    }
    .breeding-container {
        display: block;
    }
    .breeding-heading {
        margin: 1.5rem 0;
        font-weight: 600;
    }
}

@media only screen and (max-width: 550px) {
    .val {
        display: none;
    }
}

@media only screen and (max-width: 475px) {
    .pokemon-img {
        top: 50%;
    }

    .description h5 {
        width: 80%;
    }
    .types {
        top: 39.5%;
    }
}
@media only screen and (max-width: 360px) {
    .types {
        top: 43%;
    }
}
