:root {
    --white-theme-background: #fff;
    --dark-theme-background: #1c1c1c;
    --dark-card-background:#000;
}
.App {
    height: 100vh;
    width: 100%;
    background-color: var(--white-theme-background);
}
.app-dark {
    background-color: var(--dark-theme-background);
}
.card-dark{
    background-color: var(--dark-card-background);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-name-dark{
    background-color: var(--dark-card-background);
    color:var(--white-theme-background);
    width: 100%;
    padding: 0;
    margin: 0;
    height: fit-content;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.main-container {
    max-width: 1400px;
    margin: auto;
    height: 100%;
    width: 100vw;
    /* border:2px solid red */
}

.form-check{
    /* border:2px solid rgb(100, 100, 107); */
    display: flex;
    justify-content:flex-end ;
    align-items: flex-end;

}
.pokedex {
    text-align: center;
    /* padding-top: 2rem; */
    background: -webkit-linear-gradient(rgb(231, 84, 84), rgb(184, 44, 44));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
.containers {
    margin: 2rem 0;
}
.thumbnail {
    height: 8rem !important;
}
.cols {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color:#eee;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.name-container {
    width: 100%;
    background-color: var(--white-theme-background);
    padding: 0;
    margin: 0;
    height: fit-content;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color:var(--dark-card-background)
}
.poke-name,
.poke-id {
    margin: 0;
    padding: 0;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration: none;
    color: black;
}
.btn-grad {
    background-image: linear-gradient(
        to right,
        #e52d27 0%,
        #b31217 51%,
        #e52d27 100%
    );
}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    height: 3rem;
    width: 10rem;
    margin: auto;
    border: none;
    margin-bottom: 2rem;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

