.pokemon-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: beige;
    width: 100%;
}

.cont {
    display: flex;
}
.pokemon-img {
    height: 16rem;
}
.image-cont {
    display: inline-block;
    padding: 7rem 5rem;
}
.nameandid {
    display: flex;
    align-items: flex-end;
}
.name {
    margin-right: 3rem;
    font-weight: 600;
    font-size: 3.5rem;
}
.id {
    font-weight: 300;
    font-size: 3rem;
}
.poke-details-container {
    padding: 4rem;
    width: 60%;
}

.height,
.weight,
.type,
.ability {
    height: 50%;
}
.rows h4 {
    margin: 0;
    font-weight: 400;
    color: #708090;
    margin-bottom: 0.5rem;
}
.rows {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 3rem 0;
}
.rows h5 {
    color: #576d7a;
    font-weight: 300;
    margin: 0;
}
.height-weight,
.type-ability {
    width: 50%;
    height: 100%;
}
.progress {
    margin: 2rem;
}
.wrapper {
    width: 70%;
}

.progress-bar-wrapper {
    display: flex;
    padding: 2rem 0rem 2rem 6rem;
}
.stats-name {
    padding: 0.8rem 0;
    width: 25%;
}
.stats-name h4 {
    margin: 0;
    padding: 0.6rem 0;
}
.value {
    display: flex;
}
.names {
    width: 85%;
    color: #708090;
    font-weight: 400;
}
.val {
    font-weight: 500;
}

h5 {
    float: left;
    margin-right: 0.8rem !important;
}
.tabs {
    display: none;
}
@media only screen and (max-width: 900px) {
    .cont {
        flex-direction: column;
    }
    .image-cont {
        border: 2px solid red;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper {
        display: none;
    }
    .poke-details-container {
        border: 2px solid blueviolet;
        width: 100%;
    }
    .tabs {
        display: block;
    }
}
